<mat-card>
    <form>
        <table>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>nom</mat-label>
                        <input matInput name="firstname">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>prenom</mat-label>
                        <input matInput name="lastname">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Titre</mat-label>
                        <input matInput name="login">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Spécialités</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>numero finess</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>adresse</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>ville</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>cp</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>pays</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Téléphone</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <p>
            <button mat-raised-button type="submit">Basic</button>
        </p>

    </form>
</mat-card>