<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>

<ul class="nav navbar-nav">
  <li routerLinkActive="active"><a routerLink="/auth">Auth</a></li>
  <li routerLinkActive="active"><a routerLink="/admin">Admin</a></li>
  <li routerLinkActive="active"><a routerLink="/">Home</a></li>
  <li routerLinkActive="active" *ngIf="authStatus" (click)="onSignOut()"><a routerLink="/">deconnexion</a></li>
</ul>
</mat-toolbar>