
  .title{
    margin: 0px 10px 0px 10px;
    display: inline-block;
    font-weight: 800;
    text-transform: capitalize;
  }

  .title-button{
      border-radius: 30px;
      color: #006400;
      background-color: #efefefff;
  }
  .title-button:hover{
    background-color: #dcdcdcff;
    box-shadow: 
      0px 8px 7px -1px rgba(0, 0, 0, 0.2), 
      0px 10px 15px 0px rgba(0, 0, 0, 0.14), 
      0px 5px 22px 0px rgba(0, 0, 0, 0.12);
  }

  .open{
    width: 200px;
    text-align: left;
  }
  

  .main-icon-expended{
    margin : 0px 0px 0px 8px;
  }
  .help-icon-expended{
    margin : 0px 0px 0px 20px;
  }

  .mat-list-icon,
  .mat-line{
    color: #efefefff;
  }

  .help-button{
    background-color: #be3232;
    color: #efefefff;
    border: none;
    width: 100%;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border-radius: 0;
    bottom: 0px;
    position: absolute;
  }

  .help-button:hover{
    background-color: #cc0000ff;
  }

  .account-list{
    bottom: 10vh;
    position: absolute;
    width: 100%;
  }

  .example-sidenav {
    padding: 20px;
  }