<mat-card>
    <form >
        <table>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>nom</mat-label>
                        <input matInput name="firstname">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>message</mat-label>
                        <input matInput name="lastname">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-slide-toggle>droit</mat-slide-toggle>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-slide-toggle>droit</mat-slide-toggle>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-slide-toggle>droit</mat-slide-toggle>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-slide-toggle>droit</mat-slide-toggle>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-slide-toggle>droit</mat-slide-toggle>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-slide-toggle>droit</mat-slide-toggle>
                </td>
            </tr>
        </table>

        <p>
            <button mat-raised-button type="submit">Basic</button>
        </p>

    </form>
</mat-card>