<div>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #leftSidenav mode="side" opened class="green" *ngIf="authStatus">
            <app-navbar></app-navbar>
        </mat-sidenav>

        <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'" [@onPreUse]="!authStatus ? 'very-close' : 'closed'" >
            <div class="main_content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    
</div>