.green{
  background-color: #006400;
  color: #efefefff;
  border:none;
}

.sidenav_container {
  min-width: 60px; 
  height: 100vh;
}

.main_content {
  width:100%; 
  height: 100vh ; 
  background: #efefef;
}