<mat-card>
    <form (ngSubmit)="onSubmit($event)">
        <table>
            <tr>
                <td>
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">M</mat-radio-button>
                        <mat-radio-button value="2">Mme</mat-radio-button>
                    </mat-radio-group>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>nom</mat-label>
                        <input matInput name="firstname">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>prenom</mat-label>
                        <input matInput name="lastname">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>login</mat-label>
                        <input matInput name="login">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" name="password">
                        <button type=button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>qualification</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>adresse</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>ville</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>cp</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>pays</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Téléphone</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Groupes</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>message</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <p>
            <button mat-raised-button type="submit">Basic</button>
        </p>

    </form>
</mat-card>