<div class="auth-screen" [ngStyle]='bkUrl'>
    <form (submit)="onSignIn($event)" class="auth-form">
        <table>   
            <tr>
                <td><mat-form-field appearance="fill">
                    <mat-label>Login</mat-label>
                    <input matInput name="login">
                </mat-form-field></td>
            </tr> 
            <tr>
                <td><mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput name="password" type="password">
                </mat-form-field></td>
            </tr>
            
        </table>
        

        <button mat-mini-fab class="auth-button" type="submit">
            Connexion
        </button>
        <div style="text-align: center; padding:10px;font-size: small;color:  #595959">
            <span>Mot de passe oublié ?</span>
        </div>
        
        
    </form>
</div>